body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

h1 {
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 10px;
}

h2 {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 30px;
}

h3 {
    font-size: 1.5em;
    font-weight: 600;
}